<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../login/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../login/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../login/img/favicon-16x16.png">
    <link rel="manifest" href="../login/img/site.webmanifest">
    <link rel="stylesheet" href="../login/css/home.css">
    <link rel="stylesheet" href="../login/css/login.css">
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <nav>
        <ul>
            <img src="./img/android-chrome-192x192.png" width="60" height="55" />
            <li class="logo">Biblioteca Online</li>

            <li class="btn"><a href="#"><i class="fas fa-bars"></i></a></li>
        </ul>
    </nav>

    <!-- logo -->
    <div class="row">
        <div class="col-1">
            <div class="form-box">

                <div class="form">
                    <form class="login-form" method="POST" action="home.php">
                        <center>
                            <h1 class='main-heading'>Login</h1>
                        </center>
                        <input type="text" placeholder="Nome">
                        <input type="password" placeholder="Senha">
                        <button>LOGIN</button>
                        <p class="message">Não tenho cadastro?
                            <a href="#"> Cadastar</a>
                        </p>
                    </form>

                    <form class="register-form">
                        <center>
                            <h1 class='main-heading'>Cadastro</h1>
                        </center>
                        <input type="text" placeholder="Nome">
                        <input type="text" placeholder="Email">
                        <input type="password" placeholder="Senha">
                        <button>CADASTRO</button>
                        <p class="message">Já tenho cadastro?
                            <a href="#"> Login</a>
                        </p>
                    </form>

                </div>
            </div>
        </div>
    </div>




    <script>
        var modal = documet.getElementById("login-form");
        window.onlick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

    <script>
        $('.message a').click(function() {
            $('form').animate({
                height: "toggle",
                opacity: "toggle"
            }, "slow");
        });
    </script>

    <script>
        $(document).ready(function() {
            $('.btn').click(function() {
                $('.items').toggleClass("show");
                $('ul li').toggleClass("hide");
            });
        });
    </script>

<!-- PHP -->

<?php
$usuario = $_POST['username'];
$senha = $_POST['password'];

$conexao = mysqli_connect("localhost", "root", "");
mysqli_select_db($conexao, "login");

$result = mysqli_query($conexao, "SELECT * FROM login  WHERE username = '$usuario' and password = '$senha'")
    or die("Falha ao consultar Banco de Dados " . mysqli_connect_error());

$row = mysqli_fetch_array($result);

if ($row['username'] == $usuario && $row['password'] == $senha) {
    echo "Login Successful !" . $row['username'];
    header("Location:home.php"); // direct access to home page
} else {
    // $_SESSION['loginErro'] = "usuario ou senha invalido !" Error in Login !;
    echo "usuario ou senha invalido ! ";
}
?>

</body>

</html>