body{
    margin: 20% 35% ;
    background-repeat: no-repeat;
    /* background:#556; */
    background-image: url(/login/img/bibliotec.jfif);
}
input{
    font-size: 70%;
}
div#section{
    text-align: center;
    padding: 1.5em;
    background: #cacaca;
    border-radius: 53px;
}
div#form{
    height: 100%;
    width: 100%;
    padding: 1.5em;
    font-size: 26px;
    background:#fff;
    margin: -3em 0 0 -3em;
    border-radius: 53px;
    border:  5% solid #cacaca;
}
.h2-form{
    text-shadow: 5% 5% 5% #556;
}
#btn{
    color: #fff;
    background:green;
    width: 15% auto;
    padding: 3%;
    border-radius:15% ;
}
a{
    color: blue;
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}