body{
    margin: 20% 35% ;
    /* background-repeat: no-repeat; */
}
.img{
    background-image: url("/login/img/bibliotec.jfif");
    max-width: 100%;
  height: auto;
  /* opacity: 0.3; */
}
input{
    font-size: 70%;
}
div#section{
    text-align: center;
    padding: 1.5em;
    background: #cacaca;
    border-radius: 53px;
}
div#form{
    height: 100%;
    width: 100%;
    padding: 1.5em;
    font-size: 26px;
    background:#fff;
    margin: -3em 0 0 -3em;
    border-radius: 53px;
    border:  5% solid #cacaca;
}
.h2-form{
    text-shadow: 5% 5% 5% #556;
}
/* button settings */
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: green;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    padding: 3%;
    border-radius:5% ;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  /* Text under the button */
a{
    color: blue;
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}