@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

/*aqui é login*/
body{
    background: rgba(0,0,0,0.6);
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-1{
    flex-basis: 50%;
    min-width: 300px;
}
.form-box{
    width: auto;
	position: relative;
    top: 100px;
    left: auto;
}
    .main-heading{
    color: #e6a551;
    padding-bottom: 20px;
}
.form{
    position: relative;
	margin: 0 auto 100px;
	padding: 45px;
    text-align: center;
}
.form input{
	font-family: 'Montserrat',sans-serif;
	outline: none;
    border: none;
    border-bottom: 1px solid black;
	width: 100%;
	margin: 0 0 15px;
	padding: 15px;
	font-size: 14px;
}
.form button{
    font-family: 'Montserrat',sans-serif;
	width: 100%;
    color: white;
	font-size: 14px;
	cursor: pointer;
	padding: 15px;
    border: none;
    background: #e6a551;
}
.form .message{
    font-size: 12px;
	margin: 15px 0 0;
    color: white;
}
.form .message a {
	color: #e6a551;
	text-decoration: none;
}
.form .register-form{
	display: none;
}
