
body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
ul {
    padding: 0px !important;
}
.main-menu {
    height:60px;
    width: 100%;

}
.menu {
    width:70%;
    float:left;
}
.menu-urls {
    height: 80px;
    border-bottom: 3px solid #efefef;
}
.menu ul li {
    display: inline-block;
    color: #8b8b8b;
    margin-left: 15px;
    height: 50px;
}
.menu ul li:hover {
    border-bottom: 3px solid #00bac6;
}
.menu ul li a:hover {
    color: #00bac6;
}
.menu ul li a {
    color: #8b8b8b;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}
.header-2 {
    background-color: #ffffff;
    width: 980px;
    margin: 0 auto;
    padding: 15px;
}
.imgCentro{
    width: 100%;  
    float: left;
    position: relative;
}